<div class="container readme">
    <h1 class="text-muted">Hello! My name is {{name}}!</h1>
    <h2>ReadMe - Xello Angular 4 Front End Test</h2>
    <h4>Key Features</h4>
    <ol>
        <li>Simple routing added</li>
        <li>Open/Close tooltip as per requirement</li>
        <li>Closing of tooltip if clicked outside of it</li>
        <li>Tooltip closed when 'esc' key is pressed</li>
        <li>Bootstrap SASS used, look in <code>src/assets/sass</code> folder for SASS code</li>
        <li>Accessibility feature added using <code>aria-*</code> attributes</li>
        <li>Attempt was made to detect the edge of screen and to reposition tooltip below the button, however it did not work unfortunately. There are possibilities for writing workarounds though.</li>
    </ol>
    <p class="blue"><strong>To view the assignment go to
        <a [routerLink]="['/tooltips-buttons']">Buttons & Tooltips</a> page. The object and details of the test are described below...</strong></p>

    <h2>Front End Testing </h2>
    <h4>Objective</h4>
    <p>Create a single page Angular 4+ app with simple routing that has one stateNiew. In it, place two buttons that when clicked;
        show a tooltip above the button with some text in it. When button A is clicked, if button B's tooltip Is open It
        should close and vice versa - only one tooltip should be visible at a time. Either tooltip should close when clicked
        anywhere outside of it, but remain open if clicked inside. Either toolffp should close when ESC key is pressed.
    </p>
    <h4>Implementation</h4>
    <ol>
        <li>Tooltip functionality should be written as a reusable component</li>
        <li>You are encouraged to use a starter/seed project to save time scaffolding</li>
        <li>You can organize the files/folders In any way</li>
        <li>The reviewer should be able to run your solution with a simple npm command</li>
        <li>You should submit your solution as a glthub repository link</li>
    </ol>
    <h4>Bonus</h4>
    <p>If you scroll down to an open tooltip It should detect being at the edge of the screen and change position to be below
        the button+++
    </p>
    <p>Style using Bootstrap sass ++ </p>
    <p>Add at least one accessibility feature + </p>
</div>