<div class="my-container">
    <ng-template #tipContentA>Tooltip for Button A! </ng-template>
    <ng-template #tipContentB>Tooltip for Button B!
        <br />Close the tooltip by clicking outside of tooltip or by pressing <code>esc</code> key.
    </ng-template>
    <button type="button" aria-label="Click Button A" class="btn btn-primary" [ngbTooltip]="tipContentA" triggers="manual" #t1="ngbTooltip" (click)="onButtonA_click($event)">
        Button A
    </button>
    <button type="button" aria-label="Click Button B" class="btn btn-danger" [ngbTooltip]="tipContentB" triggers="manual" #t2="ngbTooltip" (click)="onButtonB_click($event)">
        Button B
    </button>
</div>